.introducao-bg {
  background: var(--cor-12) bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--cor-1);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}
